/*
  CONTENT:
  - Form
    - .form
    - .field
    - label
    - input
    - input:hover
    - input::placeholder
    - input:hover::placeholder
    - input:focus
    - input, select, textarea
    - input.name-field
    - input.name-field:hover

  - File Upload
    - input[type="file"]
    - input[type="file"]::file-selector-button
    - input[type="file"]::file-selector-button:hover

  - Select
    - select
    - select:hover
*/

/* Form */
.form{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.field{
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--text);
}

input{
  background-color: var(--box);
  border: none;
  color: var(--text);
  font-size: 15px;
  padding: 20px;
  width: 100%;
  display: block;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
}

input:hover {
  background-color: var(--accent);
  color: var(--text);
  transform: scale(1.10);
} 

input::placeholder {
  color: var(--text);
  font-family: "JetBrains Mono", "Fira Code", monospace;
  font-size: 15;
  font-style: italic;
}

input:hover::placeholder {
  color: var(--bg);
}

input:focus {
  color: var(--text);
  outline: none;
}

/* Fixes inputs getting out of div bounds */
input, select, textarea {
  box-sizing: border-box;
}

input.name-field{
  background-color: var(--bg);
  border: none;
  border-bottom: 2px solid var(--highlight);
  margin-bottom: 25px;
  border-radius: 0;
}

input.name-field:hover{
  transform: none;
  border-radius: 30px;
}

/* Number Field */

.number-field{
  width: 80px;
  display: inline-block;
  font-size: 17px;
}

/* File Upload */

input[type="file"] {
  width: 100%;
  padding: 20px;
  justify-content: center;
  padding-left: 30%;
}

input[type="file"]::file-selector-button {
  
  border: none;
  background-color: var(--accent);
  border-radius: 30px;
  
}

input[type="file"]::file-selector-button:hover {
  background: var(--accent);
}

/* Select */
select {
  background-color: var(--box);
  border: none;
  border-bottom: none;
  color: var(--text);
  font-size: 15px;
  padding: 20px;
  width: 100%;
  height: 60px;
  display: block;
  border-radius: 45px !important;
  transition: transform 0.3s ease-in-out;
  appearance: none;
}

select:hover {
  background-color: var(--accent);
  transform: scale(1.10);
}

/* Checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  width: 15px;
  height: 15px;

  background-color: var(--box);
  border: 2px solid var(--accent);
  border-radius: 9999px;

  cursor: pointer;
  display: inline-block;
}

/* when checked */
input[type="checkbox"]:checked {
  background-color: var(--text);
  box-shadow: inset 0 0 0 5px var(--accent);
  border: solid 2px var(--accent);
}

input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  color: var(--text);
  font-size: 30px;
  text-align: center;
}

/* Editing */

.edit-photo{
  width: 100%;
  height: 100%;
  background-color: var(--bg-blur);
  border-radius: 40px;
  background-image: url("../assets/edit.svg");
  background-size: cover;
  font-size: 0;
}

.edit-photo::file-selector-button {
  display: none;
}

.edit-info{
  border: dashed 2px var(--extra);
}

.tag{
  .edit-info{
    max-width: 410px;
    margin-left: 40px;
  }
}